<div class="jumbotron text-center">
  <div class="container-full">
        <h1>Welcome to What Time Is It!</h1>
        <p>An application that shows you time based on your time zone.</p>
        <p><a class="btn btn-primary btn-lg" href= <%=sign_up_path%> role="button">Sign Up</a></p>
  </div>
</div>

