<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Magic Beans!</h1>
     <p>Are you awesome? If yes, go ahead and click the button below to sign up now! Wait no more. Claim your free access today! Or you will regret not doing so~~~</p>
     <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up</a></p>
  </div>
</div>

